/*Reset CSS*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    max-width: 100%;
    overflow-x: hidden;
    background-color: #1e1e1e;
}

ul{
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

/*Container Styles*/

.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 120px;
}

@media(max-width: 800px){
    .container{
        padding: 0 90px;
    }
}

@media(max-width: 700px){
    .container{
        padding: 0 70px;
    }
}

@media(max-width: 500px){
    .container{
        padding: 0 50px;
    }
}

@media(max-width: 400px){
    .container{
        padding: 0 30px;
    }
}
/*Header Styles*/
.header{
    background: black;
    padding: 30px 15px;
    position: fixed;
    width: 100vw;
}
.btn-menu{
    display: none;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-family: 'EB Garamond', serif;
    color: #F4F4F4;
    font-size: 32px;
}
.infos-item{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}
.infos-item a {
    color: #F4F4F4;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
}
.infos-item-link:hover{
    color: #665e5e;
    transition: 0.5s;
    font-size: 18px;
}
/*Banner Styles*/
.container-banner{
    width: 100%;
    padding-top: 100px;
}
.container-banner-img{
    width: 100%;
}
/*Cars Styles*/
.title{
    padding: 25px 0px;
}
.title-carros{
    color: #F4F4F4;
    font-size: 30px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
}

.car{
    background-color: #303030;
    width: 450px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

.car-img{
    width: 400px;
    height: 250px;
    display: flex;
    transition: 0.5s;
}

.car-div-img{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    transition: 0.5s;
}

.car-img:hover{
    transform: scale(1.12);
}

.car-infos{
    display: flex;
    flex-direction: column;
    padding: 25px 20px;
}

.car-infos-nome{
    font-family: 'DM Sans', sans-serif;
    font-size: 36px;
    color: #F4F4F4;
}

.car-infos-preco{
    font-family: 'DM Sans', sans-serif;
    font-size: 24px;
    color: #F4F4F4;
    padding-top: 10px;
}

.car-infos-parcelas{
    font-family: 'DM Sans', sans-serif;
    font-size: 24px;
    color: #F4F4F4;
}

.car-infos-parcelas-div{
    display: flex;
    font-family: 'DM Sans', sans-serif;
    font-size: 24px;
    
}

.x{
    color: red;
}

.car-btn{
    background-color: #111111;
    border-style: none;
    width: 450px;
    height: 100px;
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.car-btn-text{
    font-size: 30px;
    color: #F4F4F4;
    font-weight: 700;
}

/*about us Styles*/
/*Contacts  Styles*/
/*Footer Styles*/
/*Mobile Styles*/
