@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    overflow-x: hidden;
}

header {
    background-color: black;
    padding-inline: 60px;
}

a {
    text-decoration: none;
    color: #FFF;
}

.logo {
    font-family: 'EB Garamond', serif;
    color: #FFF;
    font-size: 35px;
    font-weight: 500;
}

.infos{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infos-item {
    display: flex;
    list-style: none;
    gap: 15px;
    align-items: center;
    font-style: normal;
}

.infos-item a{
    font-family: 'DM Sans', sans-serif;
    padding-block: 15px;
    font-weight: 700;
    line-height: normal;
    font-size: 16px;
}

.hero{
    height: calc(100vh - 70px);
    background: #1e1e1e;
}

.btn-menu{
    display: none;
    border: none;
    background: none;
    border-top: 4px solid #FFF;
    cursor: pointer;
    transition: .3s;
    top: 26px;
    right: 16px;
    position: fixed;
}

.btn-menu::before,
.btn-menu::after{
    content: "";
    display: block;
    width: 30px;
    height: 4px;
    background: #FFF;
    margin-top: 5px;
    transition: .3s;
}
.btn-menu.active::after,
    .btn-menu.active::before{
    position: absolute;
    bottom: 0;
    width: 30px;
    height: 4px;
    background-color: #fff;
    border-radius: 12px;
    cursor: pointer;
    transform: rotateZ(90deg);
    }
    .btn-menu.active{
    width: 30px;
    height: 4px;
    background-color: #fff;
    border-radius: 12px;
    position: relative;
    cursor: pointer;
    transform: rotateZ(-45deg);
    transition: .3s;
    }

@media(max-width: 750px){
    .btn-menu{
        display: block;
        z-index: 1;
    }

    .infos-item a{
        font-size: 24px;
        opacity: 0;
    }

    .infos-item li:ntg-child(1) a{
        transition: 0,5s 0,2s;
    }

    .infos-item li:ntg-child(2) a{
        transition: 0,5s 0,4s;
    }

    .infos-item li:ntg-child(3) a{
        transform: 0,5s 0,6s;
    }

    .infos-item.active{
        position: fixed;
        gap: 0;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background: black;
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;
        pointer-events: none;
    }
    /* Estilos ativos */
    .infos-item.active, .infos-item{
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }
    .infos-item.active a{
        opacity: 1;
    }
    .infos-item.active .btn-menu{
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
    }
}