/*Reset CSS*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: #1e1e1e;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/*Container Styles*/

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 110px;
}

@media(max-width: 800px) {
    .container {
        padding: 0 90px;
    }
}

@media(max-width: 700px) {
    .container {
        padding: 0 70px;
    }
}

@media(max-width: 500px) {
    .container {
        padding: 0 50px;
    }
}

@media(max-width: 400px) {
    .container {
        padding: 0 30px;
    }
}

/*Header Styles*/
.header {
    background: black;
    padding: 30px 0;
    position: fixed;
    width: 100vw;
}

.btn-menu {
    display: none;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'EB Garamond', serif;
    color: #F4F4F4;
    font-size: 32px;
}

.infos-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}

.infos-item a {
    color: #F4F4F4;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
}

.infos-item-link:hover {
    color: #665e5e;
    transition: 0.5s;
    font-size: 18px;
}

/*Banner Styles*/
.container-banner {
    width: 100%;
    padding-top: 100px;
}

.container-banner-img {
    width: 100%;
}

/*about us Styles*/

.aboutUS-infos {
    background-color: #151515;
}

.aboutUS-infos-title {
    font-family: 'Dm Sans', sans-serif;
    font-size: 40px;
    color: #F4F4F4;
    padding: 30px 0;
}

.aboutUS-infos-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 135px;
}

.aboutUS-infos-p {
    font-family: 'DM Sans', sans-serif;
    color: #F4F4F4;
    font-size: 24px;
    display: block;
    max-width: 550px;
}

.aboutUS-infos-p-w {
    font-size: 400px;
    font-family: 'EB Garamond', r;
    color: #F4F4F4;
    font-style: normal;
    line-height: 80%;
}

.aboutUS-infos-p-colecao {
    font-family: 'DM Sans', sans-serif;
    color: #F4F4F4;
    font-size: 24px;
    display: block;
    padding-bottom: 50px;
}

/*Categories Styles */

.container-title {
    display: flex;
    justify-content: center;
}

.container-categories {
    background-color: #151515;
    width: 100%;
}

.categories-container {
    display: flex;
    width: 100%;
}

.categories-img {
    width: 25%;
    height: 100%;
    transition: 0.5s;
}

.categories-img:hover {
    transform: scale(1.03);
    transition: 0.5s;
}

/*Cars Styles*/

.container-car {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.title {
    padding: 30px 0;
    color: #F4F4F4;
    font-size: 30px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
}

.car {
    background-color: #303030;
    max-width: 348px;
    max-height: 465px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    margin-bottom: 40px;
}

.car:hover {
    transform: scale(1.05);
    transition: 0.5s;
    cursor: pointer;
}

.car-img {
    width: 90%;
    border-radius: 12px;
}

.car-div-img {
    width: 100%;
    height: 100%;
    padding-top: 20px;
    display: flex;
    transition: 0.5s;
    justify-content: center;
}

.car-div-img:hover {
    transform: scale(1.12);
}

.car-infos {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.car-infos-nome {
    font-family: 'DM Sans', sans-serif;
    font-size: 28px;
    color: #F4F4F4;
}

.car-infos-preco {
    font-family: 'DM Sans', sans-serif;
    font-size: 24px;
    color: #F4F4F4;
    padding-top: 10px;
}

.car-infos-parcelas {
    font-family: 'DM Sans', sans-serif;
    font-size: 24px;
    color: #F4F4F4;
}

.car-infos-parcelas-div {
    display: flex;
    font-family: 'DM Sans', sans-serif;
    font-size: 24px;
}

.x {
    color: red;
}

.car-btn {
    background-color: #151515;
    border-style: none;
    width: 100%;
    height: 100px;
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.car-btn-text {
    display: block;
    font-size: 30px;
    color: #F4F4F4;
    font-weight: 700;
}

/* Modal styles */

dialog {
    width: 90%;
    border-radius: 50px;
    border: none;
    background-color: #303030;
    margin: auto auto;
}

dialog::backdrop {
    background-color: rgb(0 0 0/.5);
}

.car-modal {
    display: flex;
}

.car-modal-container {
    display: flex;
    padding: 40px;
    width: 33.33%;
    height: 100%;
}

.car-modal-container-infos {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.car-modal-title {
    color: #F4F4F4;
    font-size: 28px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
}

.car-modal-preco {
    color: #F4F4F4;
    padding-top: 30px;
    font-size: 30px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
}

.car-modal-img {
    margin: 30px 0;
    width: 100%;
}

.car-modal-img-div {
    width: 100%;
    display: flex;
    gap: 6.7%;
}

.car-modal-img-min {
    width: 20%;
    border-radius: 5px;
}

.car-modal-btn {
    background-color: #151515;
    border: none;
    margin-top: 30px;
    padding: 24px 0;
    border-radius: 50px;
    color: #F4F4F4;
    font-size: 24px;
    font-family: 'DM Sans', sans-serif;
    transition: 0.5s;
    cursor: pointer;
}

.car-modal-btn:hover {
    background-color: #1E1E1E;
    transition: 0.5s;
}

.line {
    background-color: #F4F4F4;
    width: 2px;
    margin: 40px 0;
}

.car-modal-infos-p {
    color: #F4F4F4;
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    padding-top: 30px;
}

.car-modal-infos-p-a {
    color: #F4F4F4;
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    padding-top: 20px;
}

.car-modal-infos-container-avaliacoes {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.star {
    background-image: url('/assets/star2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: 6px;
    width: 30px;
    height: 30px;
}

.clicked {
    background-image: url('/assets/star-clicked.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: 6px;
    width: 30px;
    height: 30px;
}

.car-modal-container-pedido {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-close {
    width: 30px;
    height: 4px;
    background-color: #F4F4F4;
    border-radius: 12px;
    position: relative;
    cursor: pointer;
    transform: rotateZ(-45deg);
}

.btn-close::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 30px;
    height: 4px;
    background-color: #F4F4F4;
    border-radius: 12px;
    cursor: pointer;
    transform: rotateZ(90deg);
}

.car-modal-color {
    display: flex;
    gap: 20px;
    padding: 20px 0;
}

.color-black {
    height: 40px;
    width: 40px;
    border-radius: 12px;
    background-color: black;
    cursor: pointer;
}

.color-black.Clicked {
    border: 2px solid #F4F4F4;
}

.color-white {
    height: 40px;
    width: 40px;
    border-radius: 12px;
    background-color: #F4F4F4;
    cursor: pointer;
}

.color-white.Clicked {
    border: 2px solid #151515;
}

.color-dish {
    height: 40px;
    width: 40px;
    border-radius: 12px;
    background-color: #B6B6B6;
    cursor: pointer;
}


.color-dish.Clicked {
    border: 2px solid #151515;
}

.color-red {
    height: 40px;
    width: 40px;
    border-radius: 12px;
    background-color: #FF0000;
    cursor: pointer;
}

.color-red.Clicked {
    border: 2px solid #151515;
}

.color-blue {
    height: 40px;
    width: 40px;
    border-radius: 12px;
    background-color: #1500FF;
    cursor: pointer;
}

.color-blue.Clicked {
    border: 2px solid #151515;
}

.car-modal-container-ano {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 30px;
}

.btn-style {
    border-style: none;
    width: 25%;
    height: 100%;
    background-color: #303030;
    color: #F4F4F4;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    padding: 12px;
    border: 3px solid #1E1E1E;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-style:hover {
    background-color: #1e1e1e;
    border: 3px solid #F4F4F4;
    transition: 0.5s;
}

.btn-style.select {
    border-style: none;
    width: 25%;
    height: 100%;
    background-color: #303030;
    color: #F4F4F4;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    padding: 12px;
    border: 3px solid #f4f4f4;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-modelos {
    border-style: none;
    width: 25%;
    height: 100%;
    background-color: #303030;
    color: #F4F4F4;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    padding: 12px;
    border: 3px solid #1E1E1E;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-modelos:hover {
    background-color: #1e1e1e;
    border: 3px solid #F4F4F4;
    transition: 0.5s;
}

.btn-modelos.select {
    border-style: none;
    width: 25%;
    height: 100%;
    background-color: #303030;
    color: #F4F4F4;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    padding: 12px;
    border: 3px solid #f4f4f4;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

/* Carrinho Styles */

.produto {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Carrinho {
    font-size: 30px;
    padding-bottom: 30px;
}

.produto-carrinho {
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.produto-carrinho-div {
    margin: 30px;
}

.produto-carrinho-nome {
    color: #F4F4F4;
    font-family: 'DM Sans', sans-serif;
    font-size: 30px;
}

.produto-carrinho-infos {
    color: #F4F4F4;
    font-family: 'DM Sans', sans-serif;
    font-size: 30px;
    margin-top: 15px;

}

.pagamento{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

.produto-carrinho-badeiras {
    background-color: #1E1E1E;
    display: flex;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.produto-carrinho-badeiras-imgs {
    width: 16%;
    height: auto;
    border-radius: 12px;
    border: 3px solid #f4f4f4;
    align-items: center;
}

.carinho {
    font-size: 22px;
    width: 100%;
}

/* Fomulario de pagamento */

.form-pagamento {
    display: flex;
    margin-top: 30px;
    padding: 30px;
    background-color: #1E1E1E;
    border-radius: 20px;
}

.form-pagamento form {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.form-pagamento h2 {
    color: #F4F4F4;
    font-family: 'DM Sans', sans-serif;
    padding-bottom: 20px;
}

.form-pagamento-dados {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    border: 2px solid #555;
    border-radius: 12px;
    box-shadow: none;
    color: #f4f4f4;
    font-size: 1.5rem;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
    margin: 10px 0;
    padding: 20px 15px;
}

.form-pagamento-dados:hover {
    border: 3px solid #f4f4f4;
}

.form-pagamento-dados-div {
    display: flex;
    gap: 10px;
}

.form-pagamento-dados :placeholder {
    position: absolute;
    right: 0;
    padding: 20px 10px 10px;
    pointer-events: none;
    color: #F4F4F4;
    font-size: 1.5rem;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.btn-form {
    border-style:none ;
    width: 100%;
    height: 100%;
    background-color: #151515;
    color: #F4F4F4;
    font-family: 'DM Sans', sans-serif;
    font-size: 28px;
    border: 3px solid #151515;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    padding: 20px 10px;
    margin-top: 20px;
}

.btn-form:hover {
    border: 3px solid #f4f4f4;
}

/*Footer Styles*/

footer {
    background-color: #151515;
    color: #fff;
    border-top: 3px solid black;
    text-align: center;
    padding: 50px;
    align-items: center;
    justify-content: center;
}

#Contato {
    display: flex;
    gap: 5rem;
    justify-content: space-around;
    background-color: #151515;
    padding: 8rem;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
}

.meio-contato h3 {
    color: #fff;
    font-size: 23px;
    margin-bottom: 1.6rem;
}

.meio-contato h5 {
    font-size: 15px;
    font-weight: 600;
    color: #555;
}

.meio-contato li {
    margin-bottom: 15px;
}

.meio-contato li a {
    display: block;
    color: #555;
    font-weight: 600;
    transition: all .35s ease;
}

.last-text {
    text-align: center;
    background-color: #111010;
    color: #fff;
}

.li-footer {
    list-style: none;
}

.icons {
    width: 40px;
    height: 40px;
    margin: 5px;
    margin-top: 15px;
}
